.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #40916C;
  color: white;
}

.herdnoteContainer {
  display: flex;
  align-items: center;
}

.sheepImg {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
