.sendEmailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #081C15;

 /*
  * Background image without opacity affecting children:
  *
  * https://css-tricks.com/snippets/css/transparent-background-images/
  * https://css-tricks.com/license/
  */
  /* becomes the nearest ancestor of position:absolute div */
  position: relative;
}

.sendEmailContainer::after {
  content: "";
  /* set the pseudo-element to be where the nearest positioned ancestor is */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* allow other content to be over this */
  z-index: -1;  

 /*
  * Photo by Jonathan Borba from Pexels
  * https://www.pexels.com/photo/flock-of-sheep-standing-on-grassland-in-countryside-6622955/
  */
  background-color: white;
  background-image: url('./sheep.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
}

.sendEmailContainer h2 {
  border: 1px solid #081C15;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.sendEmailFormContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #081C15;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.sendEmailItem {
  margin: 5px;
}

.sendEmailToContainer {
  display: flex;
  flex-direction: column;
}

.sendEmailTo {
  width: 300px;
  border: 1px solid #081C15;
}

.sendEmailSubjectContainer {
  display: flex;
  flex-direction: column;
}

.sendEmailSubject {
  width: 300px;
  border: 1px solid #081C15;
}

.sendEmailMessageContainer {
  display: flex;
  flex-direction: column;
}

.sendEmailMessage {
  width: 300px;
  height: 150px;
  border: 1px solid #081C15;
}

.sendEmailButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sendEmailButton {
  padding: 5px;
  background-color: #40916C;
  color: white;
  font-size: medium;
}

@media (min-width: 961px) {
  .sendEmailTo {
    width: 600px;
  }

  .sendEmailSubject {
    width: 600px;
  }

  .sendEmailMessage {
    width: 600px;
  }

  .sendEmailButton {
    font-size: large;
  }
}

.spinnerContainer {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/*
 * Spinner. Learned how to make my own by following these:
 *
 * https://dev.to/vaishnavme/displaying-loading-animation-on-fetch-api-calls-1e5m
 * https://dev.to/devggaurav/create-a-loading-spinner-using-pure-css-4o80
 * https://ricard.dev/pure-css-spinner/
 */
.spinner {
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-radius: 50%;
  border-color: black black black transparent;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sendResultError {
  margin: 0 10px;
  background-color: #EA2128;
  color: white;
}

.sendResultSuccess {
  margin: 0 10px;
  background-color: #40916C;
  color: white;
}
