.testimonialsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95D5B2;
  color: #081C15;
  padding-bottom: 50px;
}

.testimonialsContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 * Responsive layout with Flexbox. Learned from these:
 *
 * https://www.w3schools.com/css/css3_flexbox_responsive.asp
 * https://www.quackit.com/css/flexbox/tutorial/create_a_responsive_flexbox_layout.cfm
 * https://stackoverflow.com/a/7354648
 */
@media (min-width: 961px) {
  .testimonialsContainer ul {
    flex-direction: row;
  }
}

.testimonialsContainer li .testimonialItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: #40916C;
  color: white;
}

.testimonialImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}

.testimonialName {
  margin: 10px;
}

.testimonialText {
  max-width: 320px;
  margin: 10px;
}
